*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

#root {
  margin: 0;
  height: 100vh;
  text-align: left;
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
}

.body-container {
  height: 100%;
  margin: 0;
  width: calc(70% - 100px);
}
