*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

#root {
  margin: 0;
  height: 100vh;
  text-align: left;
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
}

.body-container {
  height: 100%;
  margin: 0;
  width: calc(70% - 100px);
  flex: 1;
  position: relative;
}

.page-title {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: top left;
  font-weight: 700;
  font-size: 3em;
  white-space: nowrap;
  margin-top: 18px;
}
