.side-bar {
    width: 150px;
    padding: 20px;
    height: 100%;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 120px;
    height: 60px;
    text-align: left;
    font-weight: 800;
    margin-left: 24px;
    font-size: 35px;
    /* font-family: 'Margarine', cursive; */
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    line-height: 90%;
}

.side-bar-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
    font-size: 0.8em;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    cursor: pointer;
}

.side-bar-button > img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-bottom: 6px;
    padding: 10px;
    overflow: visible;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}
.side-bar-button > img:hover{
    outline: 1px black inset;
}

.active > img:hover{
    outline: 1px inset black;
}

.side-bar-button > span {
    font-weight: 200;
}

.active > img {
    background-color: black;
}

.active > span {
    font-weight: 700;
}


.mood-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    justify-content: center;
    height: 120px;
}

.mood-display > img {
    width: 60px;
    height: 60px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.mood-display > span {
    font-size: 0.8em;
    margin-bottom: 4px;
    font-weight: 500;
}

.current-mood {
    margin-top: 8px;
    padding: 5px 20px 6px 20px;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    line-height: 110%;
}
