.drawer-container {
    width: 400px;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 6px;
}

.drawer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 10px 20px 20px;
    overflow: hidden;
}

.drawer > span {
    margin-bottom: 10px;
}

.drawer-scroll-wrapper {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-right: 10px;
}

.drawer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.drawer-item {
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    display: flex;
    cursor: pointer;
    
}

.drawer-item-color-identifier {
    width: 20px;
    
}

.drawer-item-details{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 10px;
}

.drawer-item-icons {
    padding: 12px 0 0 0;
}

.drawer-item-icons > img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.drawer-item-icons > svg {
    width: 25px;
    height: 25px;
    padding-bottom: 2px;
}

.drawer-item-details > span {
    font-weight: 500;
    font-size: 0.7em;
    text-wrap: wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}



/* Detail Panel */

.drawer-detail-panel {
    flex-shrink: 0;
    overflow-y: visible;
    max-height: 60%;
    display: flex;
    flex-direction: column;
}

.detail-header {
    outline: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
}

.detail-header > span {
    margin-left: 20px;
}

.detail-header-color-identifier {
    width: 20px;
    height: 100%;
}

.detail-header-icons {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.detail-header-icons > img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    padding: 2px;
}

.detail-header-icons > svg {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    padding: 2px;
}

.drawer-panel-details {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    flex-grow: 1;
}

.drawer-panel-details > div {
    margin-bottom: 10px;
}

.drawer-panel-details > div > span {
    font-weight: 500;
    color: #6d6d6d;
}

.drawer-panel-details > div > p {
    font-weight: 100;
    color: black;
}

.drawer-panel-details > button {
    margin-bottom: 0;
}


